body {
  margin: 150px;
  font-family: Roboto,Arial;
  background-color: rgb(15, 14, 23); 
}

.title-container {
  color: rgb(255, 255, 254);
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.rock-paper-scissors-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

button {
  margin-top: 26px;
  margin-right: 36px;
  padding: 25px;
  background-color: rgb(34, 31, 53);
  border-style: solid;
  border-width: 5px;
  border-radius: 50px ;
  cursor: pointer;
  transition: background-color 0.15s;
}

button:hover {
  background-color: rgb(242, 95, 76);
}

.rock-image, .paper-image, .scissors-image {
  height: 100px;
}

.reset-button-image {
  height: 50px;
}

.reset-button-container, .js-result, .js-moves, .score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.js-result, .js-moves, .js-score {
  color: rgb(255, 255, 254);
  font-size: 20px;
}

.js-moves{
  margin-bottom: 0px;
}

